<div class="container mt-5 col-md-5 p-4">
  <div>
    <span class="header-primary">Trivia</span>
    <span class="header-secondary">rules</span>
    <ol class="mt-3">
      <li>Pick a category</li>
      <li>Pick a difficulty</li>
      <li>Click 'Start game'</li>
      <li>Click the (or what you think is the) right answer</li>
      <li>You will be told if you are right or wrong.</li>
      <li>Click next to go to the next question</li>
      <li>You will have 31 seconds to complete each question</li>
    </ol>
    <b class="mt-5">You got this!</b>
  </div>
  <form
    (ngSubmit)="startGame()"
    class="mt-5 w-75 text-center"
    #gameForm="ngForm"
  >
    <div>
      <label for="category" class="m-2 form-label"
        >Pick your category here,</label
      >
      <select
        id="category"
        [(ngModel)]="selectedCategory"
        name="category"
        class="form-select"
        required
        #categoryInput="ngModel"
      >
        <option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </option>
      </select>
      <div
        class="invalid-feedback"
        *ngIf="categoryInput.invalid && categoryInput.touched"
      >
        Please select a category.
      </div>
    </div>
    <div class="form-group mt-4">
      <label for="difficulty" class="m-2"
        >and your level of difficulty here.</label
      >
      <select
        id="difficulty"
        class="form-select"
        [(ngModel)]="selectedDifficulty"
        name="difficulty"
        required
        #difficultyInput="ngModel"
      >
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
      <div
        class="invalid-feedback"
        *ngIf="difficultyInput.invalid && difficultyInput.touched"
      >
        Please select a difficulty.
      </div>
    </div>
    <div class="mt-4">
      <button
        type="submit"
        [disabled]="gameForm.invalid"
        class="btn btn-secondary btn-trivia btn-lg"
      >
        Start Game
      </button>
    </div>
  </form>
</div>
