.container {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.header-primary {
  font-family: "Monoton", cursive;
  font-size: 5rem;
  color: blueviolet;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
.results-points {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: rgb(105, 105, 105);
}
.answers-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 7rem;
}
.correct-answers h3,
.incorrect-answers h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 0.3px;
}
.incorrect-answers h3,
.incorrect-answers p {
  color: rgb(139, 139, 139);
}
.correct-answers {
  margin-right: 5rem;
}
.incorrect-answers {
  margin-left: 5rem;
}
i {
  color: rgba(255, 220, 19, 0.49);
}
