<div class="container mt-5 w-75">
  <div class="container col-md-12 text-left">
    <div class="row mt-5 game-info">
      <div class="col">
        <p>Category: {{ category }}</p>
      </div>
      <div class="col text-center">
        <p>
          <i
            class="fa-solid fa-stopwatch fa-beat"
            style="color: blueviolet"
          ></i>
          {{ timeRemaining }}
        </p>
      </div>
    </div>
    <div class="row game-stats">
      <div class="col">
        <p>Difficulty: {{ difficulty }}</p>
      </div>
      <div class="col text-center">
        <p>Points: {{ points }}</p>
      </div>
    </div>
  </div>

  <div class="card border-light shadow-lg p-4 mt-4 rounded-4">
    <div class="progress shadow">
      <div
        class="progress-bar progress-bar-animated bg-light progress-bar-striped"
        role="progressbar"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{
          width: (currentQuestionIndex / questions.length) * 100 + '%'
        }"
      ></div>
    </div>
    <div class="card-body m-4">
      <div class="card-title" *ngIf="currentQuestion">
        <h3>Question {{ currentQuestionIndex + 1 }}</h3>
      </div>
      <p class="card-text pb-5 mt-4">{{ currentQuestion.question }}</p>
      <div class="d-grid gap-3 col-8 mx-auto mt-4">
        <button
          *ngFor="let answer of currentQuestion.answers; let i = index"
          [disabled]="selectedAnswer !== ''"
          (click)="selectAnswer(answer, i)"
          [ngClass]="{
            'btn-light': selectedAnswer !== answer,
            'btn-success': correctAnswers.includes(answer),
          }"
          class="btn p-3"
        >
          {{ answer }}
        </button>
      </div>
      <div *ngIf="selectedAnswer !== ''" class="mt-5">
        <p>Your Answer: {{ selectedAnswer }}</p>
        <p>
          Correct Answer:
          <span class="correct-answer">{{
            currentQuestion.correct_answer
          }}</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!currentQuestion">
  <p>No more questions.</p>
  <button (click)="finishGame()" class="btn btn-primary">Finish</button>
</div>
