/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
}
.btn-trivia {
  background-color: blueviolet;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  border: none;
  color: #f9f9f9;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
  font-weight: 800;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
.btn-trivia:hover {
  background-color: #572c83;
  border: none;
  color: #f9f9f9;
}
